<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/base.css}">
	<link rel="stylesheet" th:href="@{/css/navbar.css}">
	<link rel="stylesheet" th:href="@{/css/layout.css}">
	<link rel="stylesheet" th:href="@{/css/pages/dashboardAdministrador.css}">
	<script th:src="@{/js/modalEvento.js}" defer></script>

	<link rel="stylesheet" th:href="@{/css/style_modal.css}">
	<title>Tabla usuarios</title>
</head>

<body>
	<div class="container">
		<nav class="navbar" id="navbar">
			<div class="icon-hamburger" id="hamburger">
				<span class="bar"></span>
				<span class="bar"></span>
				<span class="bar"></span>
			</div>
			<div class="menu-wrapper">
				<ul class="menu menu-izq" id="menu-izq">
					<li class="menu-item"><a class="menu-link" th:href="@{/}">Inicio</a></li>
					<li class="menu-item" sec:authorize="isAuthenticated()">
						<a sec:authorize="hasRole('ASISTENTES')" class="menu-link"
							th:href="@{/profile/asistente/dashboardAsistente}">Perfil</a>
						<a sec:authorize="hasRole('ORGANIZADORES')" class="menu-link"
							th:href="@{/profile/organizador/dashboardOrganizador}">Perfil</a>
						<a sec:authorize="hasRole('ADMINISTRADORES')" class="menu-link"
							th:href="@{/profile/administrador/dashboardAdministrador}">Perfil</a>
					</li>
					<li class="menu-item" sec:authorize="!isAuthenticated()">
						<a class="menu-link" th:href="@{/#eventos}">Eventos</a>
					</li>
					<li sec:authorize="isAuthenticated() and hasRole('ADMINISTRADORES')" class="menu-item dropdown">
						<a class="menu-link dropdown-toggle">Gestionar</a>
						<ul class="dropdown-menu" id="menu-izq">
							<li class="menu-item">
								<a href="/profile/administrador/eventos/tablaEventos" class="dropdown-link">Eventos</a>
							</li>
							<li class="menu-item">
								<a href="/profile/administrador/usuarios/tablaUsuarios"
									class="dropdown-link">Usuarios</a>
							</li>
							<li class="menu-item">
								<a href="/profile/administrador/categorias/tablaCategorias"
									class="dropdown-link">Categorias</a>
							</li>
						</ul>
					</li>
				</ul>
				<ul sec:authorize="!isAuthenticated()" class="menu menu-der user-dropdown" id="menu-der">
					<li class="menu-item">
						<a class="menu-link" th:href="@{/auth/login}">Inicia sesion</a>
					</li>
					<li class="menu-item">
						<a class="menu-link" th:href="@{/auth/registrarse}">Registrarse</a>
					</li>
				</ul>
				<ul sec:authorize="isAuthenticated()" class="menu menu-der user-dropdown" id="menu-der">

					<li class="menu-item">
						<form th:action="@{/logout}" method="post" id="form-salir">
							<button class="menu-link btn-logout" id="salir" type="submit">
								Cerrar sesion
							</button>
						</form>
					</li>
				</ul>
			</div>
			<div class="user-container">
				<svg class="icon-user" id="icon-user" viewBox="0 0 24 24">
					<circle cx="12" cy="8" r="4" />
					<path d="M4 20c0-4 4-6 8-6s8 2 8 6" />
				</svg>
			</div>
		</nav>
		<main class="content" id="content">
			<div class="secciones">
				<section class="seccion">
					<header class="section-header">
						<h2>Usuario</h2>
					</header>
					<table class="tabla">
						<thead class="thead">
							<tr class="fila">
								<th class="cel-head">Id usuario</th>
								<th class="cel-head">Nombre de perfil</th>
								<th class="cel-head">Nombre real</th>
								<th class="cel-head">Primer apellido</th>
								<th class="cel-head">Segundo apellido</th>
								<th class="cel-head">Mail</th>
								<th class="cel-head">Telefono</th>
								<th class="cel-head">Fecha de nacimiento</th>
								<th class="cel-head">Pais</th>
								<th class="cel-head">Fecha de registro</th>
								<th class="cel-head">Estado de la cuenta</th>
								<th class="cel-head">Ultimo acceso</th>
								<th class="cel-head">Accion</th>
							</tr>
						</thead>
						<tbody class="tbody">
							<tr class="fila" th:each="usuario : ${listaUsuarios}">
								<td th:text="${usuario.idUsuario}"></td>
								<td th:text="${usuario.nombrePerfil}"></td>
								<td th:text="${usuario.nombreReal}"></td>
								<td th:text="${usuario.apellido1}"></td>
								<td th:text="${usuario.apellido2}"></td>
								<td th:text="${usuario.mail}"></td>
								<td th:text="${usuario.telefono}"></td>
								<td th:text="${usuario.fechaNacimiento}"></td>
								<td th:text="${usuario.pais}"></td>
								<td th:text="${usuario.fechaRegistro}"></td>
								<td th:text="${usuario.estadoCuenta}"></td>
								<td th:text="${usuario.ultimoAcceso}"></td>
								<td>
									<a
										th:href="@{/profile/administrador/usuarios/form_usuarios/{id}(id=${usuario.idUsuario})}">Cambiar
										estado</a>
								</td>
							</tr>
						</tbody>
					</table>
				</section>
			</div>
		</main>
	</div>
</body>

</html>