<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script th:src="@{../../../../js/realizar_reserva.js}"></script>
    <title>Reserva Completada</title>
</head>

<body>
    <main class="content">
        <h1>Reserva completada</h1>

        <section id="detallesEntrada">
            <p>Reserva completada correctamente, <a th:href="@{/profile/asistente/dashboardAsistente}">Volver a ver los
                    eventos disponibles</a></p>
        </section>
    </main>
</body>

</html>