<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/base.css}">
	<link rel="stylesheet" th:href="@{/css/navbar.css}">
	<link rel="stylesheet" th:href="@{/css/layout.css}">
	<link rel="stylesheet" th:href="@{/css/pages/home.css}">
	<script th:src="@{/js/menu.js}"></script>
	<script th:src="@{/js/cards.js}"></script>
	<title>Pagina inicio</title>
</head>

<body>
	<div class="container">
		<nav class="navbar" id="navbar">
			<div class="icon-hamburger" id="hamburger">
				<span class="bar"></span>
				<span class="bar"></span>
				<span class="bar"></span>
			</div>
			<div class="menu-wrapper">
				<ul class="menu menu-izq" id="menu-izq">
					<li class="menu-item"><a class="menu-link" th:href="@{/}">Inicio</a></li>
					<li class="menu-item" sec:authorize="isAuthenticated()">
						<a sec:authorize="hasRole('ASISTENTES')" class="menu-link"
							th:href="@{/profile/asistente/dashboardAsistente}">Perfil</a>
						<a sec:authorize="hasRole('ORGANIZADORES')" class="menu-link"
							th:href="@{/profile/organizador/dashboardOrganizador}">Perfil</a>
						<a sec:authorize="hasRole('ADMINISTRADORES')" class="menu-link"
							th:href="@{/profile/administrador/dashboardAdministrador}">Perfil</a>
					</li>
					<li class="menu-item" sec:authorize="!isAuthenticated()">
						<a class="menu-link" th:href="@{/#eventos}">Eventos</a>
					</li>
					<li sec:authorize="isAuthenticated() and hasRole('ADMINISTRADORES')" class="menu-item dropdown">
						<a class="menu-link dropdown-toggle">Gestionar</a>
						<ul class="dropdown-menu" id="menu-izq">
							<li class="menu-item">
								<a href="/profile/administrador/eventos/tablaEventos" class="dropdown-link">Eventos</a>
							</li>
							<li class="menu-item">
								<a href="/profile/administrador/usuarios/tablaUsuarios"
									class="dropdown-link">Usuarios</a>
							</li>
							<li class="menu-item">
								<a href="/profile/administrador/categorias/tablaCategorias"
									class="dropdown-link">Categorias</a>
							</li>
						</ul>
					</li>
				</ul>
				<ul sec:authorize="!isAuthenticated()" class="menu menu-der user-dropdown" id="menu-der">
					<li class="menu-item">
						<a class="menu-link" th:href="@{/auth/login}">Inicia sesion</a>
					</li>
					<li class="menu-item">
						<a class="menu-link" th:href="@{/auth/registrarse}">Registrarse</a>
					</li>
				</ul>
				<ul sec:authorize="isAuthenticated()" class="menu menu-der user-dropdown" id="menu-der">

					<li class="menu-item">
						<form th:action="@{/logout}" method="post" id="form-salir">
							<button class="menu-link btn-logout" id="salir" type="submit">
								Cerrar sesion
							</button>
						</form>
					</li>
				</ul>
			</div>
			<div class="user-container">
				<svg class="icon-user" id="icon-user" viewBox="0 0 24 24">
					<circle cx="12" cy="8" r="4" />
					<path d="M4 20c0-4 4-6 8-6s8 2 8 6" />
				</svg>
			</div>
		</nav>
		<main class="content inicio">
			<section class="hero">
				<header class="hero-header">
					<h1 class="hero-title">Sistema de Gestión de Eventos y Reservas</h1>
				</header>
				<article>
					<p class="hero-mensaje" th:text="${mensaje}"></p>
					<a class="hero-link link" id="hero-link" th:href="@{/auth/login}">Comienza</a>
				</article>
			</section>
			<section class="eventos" id="eventos">
				<header>
					<h1>Eventos</h1>
				</header>
				<div class="grid-eventos" id="grid-eventos">
					<section th:each="evento : ${listaEventos}" class="card-evento" th:data-id="${evento.idEvento}">
						<img th:alt="${evento.tituloEvento}" th:src="@{${evento.urlImagen} + '.jpg'}" class="cartel" />
						<div class="overlay">
							<a sec:authorize="hasRole('ASISTENTES')"
								th:href="@{/asistente/login/{id}(id=${evento.idEvento})}" class="link-evento">
								Saber mas
							</a>
							<a sec:authorize="hasRole('ORGANIZADORES')"
								th:href="@{/asistente/login/{id}(id=${evento.idEvento})}" class="link-evento">
								Saber mas
							</a>
							<a sec:authorize="hasRole('ADMINISTRADORES')"
								th:href="@{/profile/administrador/eventos/tablaEventos}" class="link-evento">
								Saber mas
							</a>
						</div>
					</section>
				</div>
				<div class="pagination" id="pagination">
					<span th:if="${totalPaginas != 1}" th:each="i : ${#numbers.sequence(0, totalPaginas - 1)}">
						<a th:href="@{/(pagina=${i})} + '#pagination'" th:text="${i + 1}"
							th:classappend="${i == paginaActual} ? 'active'" class="btn-paginaActual">
						</a>
					</span>
				</div>
			</section>
		</main>
	</div>
</body>

</html>