<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script th:src="@{/js/modalEvento.js}" defer></script>
	<link rel="stylesheet" th:href="@{/css/base.css}">
	<link rel="stylesheet" th:href="@{/css/navbar.css}">
	<link rel="stylesheet" th:href="@{/css/layout.css}">
	<link rel="stylesheet" th:href="@{/css/pages/dashboardOrganizador.css}">
	<link rel="stylesheet" th:href="@{/css/modal.css}">
	<title th:text="Dashboard + ' ' + ${nombreReal}">Dashboard Asistente</title>
</head>

<body>
	<div class="container">
		<nav class="navbar" id="navbar">
			<div class="icon-hamburger" id="hamburger">
				<span class="bar"></span>
				<span class="bar"></span>
				<span class="bar"></span>
			</div>
			<div class="menu-wrapper">
				<ul class="menu menu-izq" id="menu-izq">
					<li class="menu-item"><a class="menu-link" th:href="@{/}">Inicio</a></li>
					<li class="menu-item" sec:authorize="isAuthenticated()">
						<a sec:authorize="hasRole('ASISTENTES')" class="menu-link"
							th:href="@{/profile/asistente/dashboardAsistente}">Perfil</a>
						<a sec:authorize="hasRole('ORGANIZADORES')" class="menu-link"
							th:href="@{/profile/organizador/dashboardOrganizador}">Perfil</a>
						<a sec:authorize="hasRole('ADMINISTRADORES')" class="menu-link"
							th:href="@{/profile/administrador/dashboardAdministrador}">Perfil</a>
					</li>
					<li class="menu-item" sec:authorize="!isAuthenticated()">
						<a class="menu-link" th:href="@{/#eventos}">Eventos</a>
					</li>
					<li sec:authorize="isAuthenticated() and hasRole('ADMINISTRADORES')" class="menu-item dropdown">
						<a class="menu-link dropdown-toggle">Gestionar</a>
						<ul class="dropdown-menu" id="menu-izq">
							<li class="menu-item">
								<a href="/profile/administrador/eventos/tablaEventos" class="dropdown-link">Eventos</a>
							</li>
							<li class="menu-item">
								<a href="/profile/administrador/usuarios/tablaUsuarios"
									class="dropdown-link">Usuarios</a>
							</li>
							<li class="menu-item">
								<a href="/profile/administrador/categorias/tablaCategorias"
									class="dropdown-link">Categorias</a>
							</li>
						</ul>
					</li>
				</ul>
				<ul sec:authorize="!isAuthenticated()" class="menu menu-der user-dropdown" id="menu-der">
					<li class="menu-item">
						<a class="menu-link" th:href="@{/auth/login}">Inicia sesion</a>
					</li>
					<li class="menu-item">
						<a class="menu-link" th:href="@{/auth/registrarse}">Registrarse</a>
					</li>
				</ul>
				<ul sec:authorize="isAuthenticated()" class="menu menu-der user-dropdown" id="menu-der">
					<li class="menu-item">
						<form th:action="@{/logout}" method="post" id="form-salir">
							<button class="menu-link btn-logout" id="salir" type="submit">
								Cerrar sesion
							</button>
						</form>
					</li>
				</ul>
			</div>
			<div class="user-container">
				<svg class="icon-user" id="icon-user" viewBox="0 0 24 24">
					<circle cx="12" cy="8" r="4" />
					<path d="M4 20c0-4 4-6 8-6s8 2 8 6" />
				</svg>
			</div>
		</nav>
		<main class="content" id="content">
			<section class="seccion mis-eventos" id="mis-eventos">
				<h1>Perfil Organizador</h1>
				<h2>Eventos organizador</h2>
				<button type="button" class="btn btn-primary" id="btnNuevoEvento">
					Nuevo Evento
				</button>
				<table class="tabla">
					<thead class="thead">
						<tr class="fila">
							<th class="cel-head">Nombre</th>
							<th class="cel-head">Fecha inicio</th>
							<th class="cel-head">Fecha fin</th>
							<th class="cel-head">Plazas disponibles</th>
							<th class="cel-head">Categoria</th>
							<th class="cel-head">Ubicacion</th>
							<th class="cel-head">Acciones</th>
						</tr>
					</thead>
					<tbody class="tbody">
						<tr th:each="evento : ${listaEventos}" class="fila">
							<td th:text="${evento.tituloEvento}" class="cel-body titulo-evento"></td>
							<td th:text="${#temporals.format(evento.fechaInicio, ' dd/MM/yyyy, HH:mm')}"
								class="cel-body"></td>
							<td th:text="${#temporals.format(evento.fechaFin, ' dd/MM/yyyy, HH:mm')}" class="cel-body">
							</td>
							<td th:text="${evento.plazasDisponibles}" class="cel-body"></td>
							<td th:text="${evento.categoria.nombreCategoria}" class="cel-body"></td>
							<td th:text="${evento.ubicacion.pais + ', ' + evento.ubicacion.localidad + ' ' + evento.ubicacion.codigoPostal}"
								class="cel-body"></td>
							<td class="cel-body acciones">
								<a href="#" class="link-action">Ver descripcion</a>
								<a th:href="@{/profile/organizador/eventos/actualizar/{id}(id=${evento.idEvento})}"
									class="link-action">Actualizar</a>
								<form th:action="@{/profile/organizador/eventos/borrar/{id}(id=${evento.idEvento})}"
									method="post">
									<button type="submit">Borrar</button>
								</form>
							</td>
						</tr>
					</tbody>
				</table>
			</section>
			<div id="modalEvento" class="modal hidden">
				<div class="modal-content">
					<button type="button" id="cerrarModal">&times;</button>
					<div th:replace="~{fragments/form_evento :: formEvento}"></div>
				</div>
			</div>
		</main>
	</div>
</body>

</html>